@use './app/shared/styles/variables';
@use './app/shared/styles/layout';
@use './app/shared/styles/components';
@use './app/shared/styles/mixins';

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}

input[type='number'] {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--app-bg, #edf1f7);
  color: var(--text);
  overflow-x: hidden;
}